<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="/adminEnseignant/enseignant_layout">
      
<head>
<meta charset="UTF-8">
<title>Ajouter Cycle</title>
<head>
<body>
<div layout:fragment="content">  
  <div class="content container-fluid">

			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Enseignant</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Edit Note</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<form th:action="@{/enseignant/classe/note/update}" method="post">
								<div class="row">
									<div class="col-12">
										<h5 class="form-title">
											<span> Modifier Note</span>
										</h5>
									</div>
									<div class="col-12 col-sm-12">
										<div class="form-group">
											<input type="hidden"  name ="id" th:value="${noteEleve.id}" class="form-control" id="" placeholder="id" required autofocus="autofocus"/>
										</div>
									</div>
									<div class="col-12 col-sm-12">
										<div class="form-group">
											<label>Valeur</label> 
											<input type="number" step="0.01" min="0" max="100" name ="valeurNote" th:value="${noteEleve.valeurNote}" class="form-control" id="noteTotal" placeholder="note" />
										</div>
									</div>
									
									<div class="col-12">
										<button type="submit" class="btn btn-primary">Enregistrer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</div> 

</body>
</html>