<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">
<head>
 <meta charset="UTF-8">
<title>Liste Utilisateur</title>
</head>
<body>
<div layout:fragment="content">
	 

 	<!-- Content Header (Page header) -->
     <!-- <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste Utilisateur</h1>
          </div>
         
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">admin</a></li>
              <li class="breadcrumb-item active">Utilisateur</li>
            </ol>
          </div>
        </div>
      </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <form  style="margin-bottom: 20px" th:action="@{/admin/user/add}" method="get">
					<div>
					<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</form>
			    <div class="col-md-6" th:if="${param.succes}">
					<div class="alert alert-success">enregistrer avec succes !</div>
		        </div>
		        <div class="col-md-6" th:if="${param.deleted}">
					<div class="alert alert-warning">supprimé avec succes !</div>
		        </div>
             
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
		             <tr> 
		                <th>PHOTO</th>
		 				<th>ID</th>
		 				<th>Nom</th>
		 				<th>Prenom</th> 
		 				<th>Email</th>
		 				<th>Action</th>
		 			</tr>
                  </thead>
                  <tbody>
                    <tr th:each="user:${utilisateur}">
                        <td><img alt=""th:src="*{'data:nomPhoto/jpeg;base64,'+{user.nomPhoto}}"
						 style="width: 100px; height: 100px;"></td>
		 				<td th:text="${user.id} "> </td>
		 				<td th:text="${user.nom} "> </td>
		 				<td th:text="${user.prenom} "> </td>
		 				<td th:text="${user.email} "> </td>
		 				<td > 
		 					<a  href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{update(id=${user.id})}"><i class="fa fa-edit"></i>Edit</a>
		 					<a onclick="return confirm('vous etes sur de supprimer ? ')" href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete " th:href="@{delete(id=${user.id})}"><i class="fa fa-trash"></i>Delete</a>
		 				</td>
 			        </tr>
                  </tbody>
                </table>
              </div>
            </div> 
          
           </div>
          </div>
         </div> 
       </section>
      
    </section>  -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Role</h3>
					
				</div>
				<div class="col-auto text-end float-end ms-auto">
				    <a href="/admin/user/role/add"
						class="btn btn-primary"><i class="fas fa-plus"></i></a>
					<a href="#" class="btn btn-outline-primary me-2"><i
						class="fas fa-download"></i> Download</a> 
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center ">
								<thead>
									<tr>
										<th>PHOTO</th>
										<th>ID</th>
										<th>Libelle</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="role:${roles}">

										<td th:text="${role.id} "></td>
										<td th:text="${role.libelle} "></td>

										<td > 
		 					            	 <a  href="#" class="btn btn-info btn-xs purple editView" title="Edit" ><i class="fa fa-edit"></i></a>
		 					             	 <a onclick="return confirm('vous etes sur de supprimer ? ')" href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete " ><i class="fa fa-trash"></i></a>
		 				                 </td>
														
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



