<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">
      
<head>
<meta charset="UTF-8">
<title>Ajouter Niveau</title>
<head>
<body>
<div layout:fragment="content">
<!-- <div class="container">
 <div class="col-md-4 col-md-offset-3">
	<div class="panel panel-warning">
	  <div class="panel-heading"> Ajouter Niveau</div>
		<div class="panel-body">
			<div th:if="${param.succes}">
				<div class="alert alert-info">enregistrer avec succes !</div>
			</div>
			 <form  th:action="@{/admin/niveau/update}" method="post" >
			   <div class="form-group" >
     				<label class="control-label" for="id">
     					id
     				</label>
     				<input type="text"  name ="id" th:value="${niveau.id}" class="form-control" id="libelle" placeholder="id" required autofocus="autofocus"/>
 				</div>
 				<div class="form-group">
 				    <label class="control-label" for="cycle">
     					Cycle  
     				</label>
		      		<select  class="form-control" th:value="${niveau.cycle.id}" name="cycle.id">
		      			<option th:each="c:${cycles}"  th:value="${c.id}" th:text="${c.libelle}"/>
		      		</select>
		      	</div>  
 				<div class="form-group"  >
     				<label class="control-label" for="libelle">
     					Libelle
     				</label>
     				<input type="text"  name ="libelle" th:value="${niveau.libelle}" class="form-control" id="libelle" placeholder="niveau" required autofocus="autofocus"/>
 				</div> 				
 				<div >
 					<button type="submit" class="btn btn-primary">Valider</button>
     			</div>
			 
			</form> 
 
		</div>
	  </div>
	</div>
  </div> -->
   <div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Admin</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Add Niveau</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<form th:action="@{/admin/niveau/update}" method="post">
								<div class="row">
									<div class="col-12">
										<h5 class="form-title">
											<span>Niveau</span>
										</h5>
									</div>
									<div class="col-12 col-sm-12">
										<div class="form-group">
											<label>ID</label> 
											<input type="text"  name ="id" th:value="${niveau.id}" class="form-control" id="libelle" placeholder="id" required autofocus="autofocus"/>
										</div>
									</div>
									<div class="col-12 col-sm-12">
										<div class="form-group">
											<label> Cycle </label> 
											<select  class="form-control" th:value="${niveau.cycle.id}" name="cycle.id">
		      			                       <option th:each="c:${cycles}"  th:value="${c.id}" th:text="${c.libelle}"/>
		      	                        	</select>
										</div>
									</div>
									<div class="col-12 col-sm-12">
										<div class="form-group">
											<label>Niveau</label> 
											<input type="text"  name ="libelle" th:value="${niveau.libelle}" class="form-control" id="libelle" placeholder="libelle" required autofocus="autofocus"/>
										</div>
									</div>
									<div class="col-12">
										<button type="submit" class="btn btn-primary">Enregistrer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</div> 

</body>
</html>